In [1]:
#Load the SQL Extension
%load_ext sql

#Connecting to SQLite database (use sqlalchemy-1.4.49)
%sql sqlite:///WalmartSalesData.db

'Connected: @WalmartSalesData.db'

#### Creating Table in Database

In [2]:
%%sql
CREATE TABLE IF NOT EXISTS sales(
    invoice_id       TEXT      NOT NULL    PRIMARY KEY,
    branch           TEXT      NOT NULL,
    city             TEXT      NOT NULL,
    customer_type    TEXT      NOT NULL,
    gender           TEXT      NOT NULL,
    product_line     TEXT      NOT NULL,
    unit_price       REAL      NOT NULL,
    quantity         INTEGER   NOT NULL,
    tax_pct          REAL      NOT NULL,
    total            REAL      NOT NULL,
    date             TEXT      NOT NULL,
    time             TEXT      NOT NULL,
    payment          TEXT      NOT NULL,
    rating           REAL      NOT NULL
) STRICT;

 * sqlite:///WalmartSalesData.db
Done.

[]

#### Loading CSV file into database table using command line

In [3]:
%%script cmd
echo off
sqlite3 "WalmartSalesData.db" ".mode csv" ".import WalmartSalesData.csv sales"
echo Success!!

Microsoft Windows [Version 10.0.19045.4291]
(c) Microsoft Corporation. All rights reserved.

(base) G:\My Drive\Personal\Coursera\Projects\SQL>echo off
sqlite3 "WalmartSalesData.db" ".mode csv" ".import WalmartSalesData.csv sales"

WalmartSalesData.csv:1: INSERT failed: cannot store TEXT value in REAL column sales.unit_price
WalmartSalesData.csv:4: INSERT failed: cannot store TEXT value in REAL column sales.unit_price
WalmartSalesData.csv:75: INSERT failed: cannot store TEXT value in REAL column sales.rating
WalmartSalesData.csv:761: INSERT failed: cannot store TEXT value in REAL column sales.tax_pct

echo Success!!
Success!!

In [4]:
%%sql 
SELECT * FROM sales
LIMIT 5;

 * sqlite:///WalmartSalesData.db
Done.

[('750-67-8428', 'A', 'Yangon', 'Member', 'Female', '  ', 74.69, 7, 26.1415, 548.9715, '2019-01-05', '13:08:00', 'Ewallet', 9.1),
 ('631-41-3108', 'A', 'Yangon', 'Normal', 'Male', 'Home and lifestyle', 46.33, 7, 16.2155, 340.5255, '2019-03-03', '13:23:00', 'Credit card', 7.4),
 ('373-73-7910', 'A', 'Yangon', 'Normal', 'Male', 'Sports and travel', 86.31, 7, 30.2085, 634.3785, '2019-02-08', '10:37:00', 'Ewallet', 5.3),
 ('699-14-3026', 'C', 'Naypyitaw', 'Normal', 'Male', 'Electronic accessories', 85.39, 7, 29.8865, 627.6165, '2019-03-25', '18:30:00', 'Ewallet', 4.1),
 ('355-53-5943', 'A', 'Yangon', 'Member', 'Female', 'Electronic accessories', 68.84, 6, 20.652, 433.692, '2019-02-25', '14:36:00', 'Ewallet', 5.8)]