In [1]:
#Load the SQL Extension
%load_ext sql

#Connecting to SQLite database (use sqlalchemy-1.4.49)
%sql sqlite:///WalmartSalesData.db

'Connected: @WalmartSalesData.db'

#### Creating Table in Database

In [2]:
%%sql
CREATE TABLE IF NOT EXISTS sales(
    invoice_id       VARCHAR(10)     NOT NULL    PRIMARY KEY,  -- character limits are not enforced in SQLite
    branch           VARCHAR(5)      NOT NULL,
    city             VARCHAR(10)     NOT NULL,
    customer_type    VARCHAR(10)     NOT NULL,
    gender           VARCHAR(10)     NOT NULL,
    product_line     VARCHAR(20)     NOT NULL,
    unit_price       DECIMAL(3,1)    NOT NULL,
    quantity         INT             NOT NULL,
    tax_pct          DECIMAL(10,2)   NOT NULL,
    total            DECIMAL(10,2)   NOT NULL,
    date             DATETIME        NOT NULL,
    time             TIME            NOT NULL,
    payment          VARCHAR(10)     NOT NULL,
    cogs             DECIMAL(10,2)   NOT NULL,
    gross_margin_pct DECIMAL(10,2)   NOT NULL,
    gross_income     DECIMAL(10, 2)  NOT NULL,
    rating           DECIMAL(2, 1)   NOT NULL
);

 * sqlite:///WalmartSalesData.db
Done.

[]

#### Loading CSV file into database table using command line

In [3]:
%%script cmd
echo off
sqlite3 "WalmartSalesData.db" ".mode csv" ".import WalmartSalesData.csv sales"
echo Success!!

Microsoft Windows [Version 10.0.19045.4291]
(c) Microsoft Corporation. All rights reserved.

(base) G:\My Drive\Personal\Coursera\Projects\SQL>echo off
sqlite3 "WalmartSalesData.db" ".mode csv" ".import WalmartSalesData.csv sales"
echo Success!!
Success!!

In [5]:
%%sql 
SELECT * FROM sales
LIMIT 5;

 * sqlite:///WalmartSalesData.db
Done.

[('Invoice ID', 'Branch', 'City', 'Customer type', 'Gender', 'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date', 'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income', 'Rating'),
 ('750-67-8428', 'A', 'Yangon', 'Member', 'Female', '', 74.69, 7, 26.1415, 548.9715, '05-01-2019', '13:08:00', 'Ewallet', 522.83, 4.761904762, 26.1415, 9.1),
 ('', 'C', 'Naypyitaw', 'Normal', 'Female', 'Electronic accessories', 15.28, 5, '', 80.22, '08-03-2019', '', 'Cash', 76.4, 4.761904762, '', 9.6),
 ('631-41-3108', 'A', 'Yangon', 'Normal', 'Male', 'Home and lifestyle', 46.33, 7, 16.2155, 340.5255, '03-03-2019', '13:23:00', '', 324.31, '', 16.2155, 7.4),
 ('123-19-1176', '', 'Yangon', 'Member', 'Male', 'Health and beauty', '', 8, 23.288, 489.048, '27-01-2019', '20:33:00', 'Ewallet', 465.76, 4.761904762, 23.288, 8.4)]